*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
}
.title{
    margin: 10px;
    padding: 10px;
    font-size: 60px;
    display: inline;
}
input[type="button"]{
    color: blue;
    font-size: 15px;
    background: transparent;
    border-color: transparent;
    text-decoration: underline;
}
input[type="button"]:hover{
    cursor: pointer;
}